.tooltip {
	position: absolute;
	width: 230px;
	height: 40px;
	stroke: black;
	pointer-events: none;
	font-size: 12px;			
    padding: 5px;				
    background: white;
    border: 1px solid gray;
    border-radius: 10px;	
    padding: 5px;	
}

.sumContinent {
	position: absolute;
}
